.blocksec {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.block0 {
  background-color: rgb(39, 39, 39);
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 998;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-box {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 999;
  margin-top: 0%;
}

.intro-block {
  width: 30%;
  margin-left: 15%;
  margin-top: 5%;
  background-color: rgb(155, 155, 155);
  position: relative;
  z-index: 999;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 0.5%;
  align-items: center;
  border-radius: 15px;
}

.gallery {
  width: 100%;
  margin: 0%;
  position: absolute;
  top: 0%;
  z-index: 998;
}

.gallery2 {
  width: 100%;
  margin: 0%;
  position: absolute;
  top: 0%;
  z-index: 998;
}

.prismsdiv {
  position: relative;
  z-index: 999;
}

.title {
  width: 20%;
  position: relative;
  z-index: inherit;
  text-align: left;
  margin-left: 16%;
  margin-top: 3%;
  margin-bottom: 2.5%;
}

.lines {
  width: 110%;
  position: absolute;
  margin-top: -5%;
  margin-left: -5%;
  z-index: 997;
}

.linesleft {
  width: 50%;
  position: absolute;
  top: -5%;
  left: 30%;
  z-index: 997;
}

.linestop {
  width: 110%;
  position: absolute;
  top: 25%;
  right: 0%;
  z-index: 997;
}

.diamond {
  width: 8%;
  text-align: center;
  left: 5%;
  top: 2.5%;
  z-index: 999;
  position: absolute;
}

.graphic {
  width: 110%;
  position: absolute;
  bottom: 0%;
  left: -10%;
}

.watermark {
  margin-top: 0%;
  color: rgb(48, 48, 48);
  font-family: "Inter", sans-serif;
  font-size: 10pt;
}

.site-title {
  font-size: 30pt;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  align-items: center;
  position: relative;
  z-index: 999;
}

.pg2 {
  width: 100%;
  background-color: rgb(155, 155, 155);
  position: absolute;
  top: 100%;
}
