.blocksec {
  position: relative;
  height: 100vh;
  z-index: 998;
}

.block1 {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 998;
  overflow-x: hidden;
}

.b1title {
  width: 10%;
  margin-left: 15%;
  margin-top: 0%;
  position: relative;
  margin-bottom: 0%;
  z-index: 999;
}

.articlesdiv {
  margin-top: 4%;
  padding-left: 10%;
  padding-bottom: 10%;
  width: 80%;
  margin-left: 5%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  border-radius: 15px;
  z-index: 997;
}

.movie-articles {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  z-index: 997;
}

.ma1-div {
  width: 90%;
  border: rgb(0, 0, 0);
  border-style: solid;
  border-width: 2%;
  text-align: center;
  text-decoration-line: none;
  border-radius: 10px;
  margin-bottom: 1%;
  z-index: 999;
  background-color: rgb(155, 155, 155);
  position: relative;
}

.ma1-div a {
  text-decoration-line: none;
  text-decoration: none;
}

.ma1-title {
  text-decoration: none;
  text-decoration-line: none;
  font-size: 15pt;
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
}

.ma1-author {
  text-decoration: none;
  text-decoration-line: none;
  font-size: 12pt;
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
}

.ma1-div:hover {
  background-color: rgb(0, 0, 0);
}

.ma1-div:hover .ma1-title {
  color: rgb(255, 255, 255);
}

.ma1-div:hover .ma1-author {
  color: rgb(255, 255, 255);
}

.ma2-div {
  width: 90%;
  border: rgb(0, 0, 0);
  border-style: solid;
  border-width: 2%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1%;
  z-index: 999;
  background-color: rgb(155, 155, 155);
  position: relative;
}

.ma2-div a {
  text-decoration-line: none;
  text-decoration: none;
}

.ma2-title {
  text-decoration: none;
  font-size: 15pt;
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
}

.ma2-author {
  text-decoration: none;
  text-decoration-line: none;
  font-size: 12pt;
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
}

.ma2-div:hover {
  background-color: rgb(48, 48, 48);
}

.ma2-div:hover .ma2-title {
  color: rgb(255, 255, 255);
}

.ma2-div:hover .ma2-author {
  color: rgb(255, 255, 255);
}

.lines {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 997;
}

.lines2 {
  position: absolute;
  width: 120%;
  top: 120%;
  left: -5%;
  z-index: 997;
}

.brackets {
  width: 90%;
  left: 4.5%;
  position: absolute;
  top: 7.5%;
}

.philosophy-articles {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.pa1-div {
  width: 90%;
  border: rgb(0, 0, 0);
  border-style: solid;
  border-width: 2%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1%;
  z-index: 999;
  background-color: rgb(155, 155, 155);
  position: relative;
}

.pa1-div a {
  text-decoration-line: none;
  text-decoration: none;
}

.pa1-title {
  text-decoration: none;
  font-size: 15pt;
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
}

.pa1-author {
  text-decoration: none;
  font-size: 12pt;
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
}

.pa1-div:hover {
  background-color: rgb(48, 48, 48);
}

.pa1-div:hover .pa1-title {
  color: rgb(255, 255, 255);
}

.pa1-div:hover .pa1-author {
  color: rgb(255, 255, 255);
}

.pa2-div {
  width: 90%;
  border: rgb(0, 0, 0);
  border-style: solid;
  border-width: 2%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1%;
  z-index: 999;
  background-color: rgb(155, 155, 155);
  position: relative;
}

.pa2-div a {
  text-decoration-line: none;
  text-decoration: none;
}

.pa2-title {
  text-decoration: none;
  font-size: 15pt;
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
}

.pa2-author {
  text-decoration: none;
  font-size: 12pt;
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
}

.pa2-div:hover {
  background-color: rgb(48, 48, 48);
}

.pa2-div:hover .pa2-title {
  color: rgb(255, 255, 255);
}

.pa2-div:hover .pa2-author {
  color: rgb(255, 255, 255);
}

.pa3-div {
  width: 90%;
  border: rgb(0, 0, 0);
  border-style: solid;
  border-width: 2%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1%;
  z-index: 999;
  background-color: rgb(155, 155, 155);
  position: relative;
}

.pa3-div a {
  text-decoration-line: none;
  text-decoration: none;
}

.pa3-title {
  text-decoration: none;
  font-size: 15pt;
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
}

.pa3-author {
  text-decoration: none;
  font-size: 12pt;
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
}

.pa3-div:hover {
  background-color: rgb(48, 48, 48);
}

.pa3-div:hover .pa3-title {
  color: rgb(255, 255, 255);
}

.pa3-div:hover .pa3-author {
  color: rgb(255, 255, 255);
}

.pa4-div {
  width: 90%;
  border: rgb(0, 0, 0);
  border-style: solid;
  border-width: 2%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1%;
  z-index: 999;
  background-color: rgb(155, 155, 155);
  position: relative;
}

.pa4-div a {
  text-decoration-line: none;
  text-decoration: none;
}

.pa4-title {
  text-decoration: none;
  font-size: 15pt;
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
}

.pa4-author {
  text-decoration: none;
  font-size: 12pt;
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
}

.pa4-div:hover {
  background-color: rgb(48, 48, 48);
}

.pa4-div:hover .pa4-title {
  color: rgb(255, 255, 255);
}

.pa4-div:hover .pa4-author {
  color: rgb(255, 255, 255);
}

.phi-title {
  width: 50%;
  text-align: left;
  font-family: "Kanit", sans-serif;
  font-size: 20pt;
}

.movies-title {
  width: 50%;
  text-align: left;
  font-family: "Kanit", sans-serif;
  font-size: 20pt;
}
